body {
    background-color: #1C2833;
    font-family:  'Poppins', sans-serif;;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.cente {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 40vh;
    background-color: #131313;
    border-radius: 15px;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 10px 10px 12px  ;
    margin-bottom: 0;

}

span {
    padding: 10px;
    
    
    
}

.box {
    height: 80%;
    border-radius: 10px;
    width: 80%;
    background-color: #FFF825;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
}

.alarm {
    border-radius: 15px;
    height: 30vh;
    width: 30vh;
    display: flex;
    background-color: #131313;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
    
}

#desp {
    height: 80%;
    width: 80%;
    background-color: #FFF825;
    border-radius: 15px;
}

footer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    margin-bottom: 0;
    background-color: #FFF825;
}
